.home-hero_logo-grid {
    grid-row-gap: 4rem;
    flex-direction: row;
    flex: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    display: flex
}

.home-hero_logo-grid.is-home-new {
    flex-flow: row;
    margin-top: 1.25rem
}

.home-hero_logo-wrapper {
    opacity: .8;
    max-width: 230px;
    padding-right: 5.5rem
}

.section_home-find {
    background-color: var(--lavender);
    color: #000;
    display: none
}

.home-find_bottom-text {
    font-size: 1.75rem
}

.bottom-puple-underline {
    background-image: url(https://cdn.prod.website-files.com/64abddc9e146f7684d00cf6e/651263ef4c84be0d0fbea485_Vector%20-%202023-09-26T102402.479.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -.5rem;
    padding-bottom: .5rem;
    display: inline-block
}

.home-filters-text-wrapper {
    color: #000;
    width: 100%;
    font-size: 1.125rem;
    display: flex
}

.home-find_flex {
    grid-column-gap: .5rem;
    grid-row-gap: 1.75rem;
    background-color: var(--white);
    border: 0 solid #e5e5e8;
    border-radius: .4375rem;
    flex-flow: wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    display: flex
}

.home-find_wrap {
    grid-column-gap: 1%;
    grid-row-gap: 3.75rem;
    flex-flow: column wrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    max-width: 100%;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    display: flex
}

.find_filter-dropdown-new {
    width: 23%;
    margin-left: 0;
    margin-right: 0
}

.find_filter-toggle {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    border: 1px solid var(--gainsboro);
    border-radius: .375rem;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem 1.5rem;
    display: flex
}

.find_filter-dropdown-list.w--open {
    border-radius: .375rem;
    margin-top: .5rem;
    overflow: hidden;
    box-shadow: 0 5px 1rem #00000026
}

.find_dropdown-custom-dropdown-link-new {
    border-bottom: 1px solid var(--gainsboro);
    background-color: var(--white);
    padding-top: .875rem;
    padding-bottom: .875rem;
    font-size: .75rem
}

.home-hero_logo-track {
    mix-blend-mode: multiply;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex
}

.link {
    letter-spacing: 0
}

.home-hero_sub-text-span {
    background-image: url(https://cdn.prod.website-files.com/64abddc9e146f7684d00cf6e/6515209baa4ccbb380b256f3_Vector%20\(1\).svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 0;
    padding-bottom: .5rem;
    font-weight: 700;
    display: inline-block
}

.section_home-numbers {
    background-color: var(--heading-color)
}

.home-numbers_section-spacing {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem
}

.home-numbers_grid {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    display: grid
}

.home-numbers_grid.is-3rd {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    display: grid
}

.home-numbers_icons {
    max-width: 5.25rem;
    margin-bottom: 1.5rem
}

.home-numbers_icons.is-height-auto {
    height: auto
}

.home-cta_span {
    background-image: url(https://cdn.prod.website-files.com/64abddc9e146f7684d00cf6e/651543c2ca34d85d4892c84f_Vector%20\(2\).svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -.75rem;
    padding-bottom: .75rem;
    display: inline-block
}

.content-demographic-image {
    margin-top: 2.5rem
}

.section_calculator-hero {
    overflow: hidden
}

.calculator-hero_wrapper {
    display: block
}

.calculator-hero_top {
    text-align: center;
    max-width: 57rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto
}

.text-color-pink {
    color: var(--pink)
}