* {
  margin: 0;
  padding: 0;
}

* {
  cursor: none !important;
}
button, input, textarea, select {
  cursor: auto !important;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
   * {
  cursor: auto !important;
}
}